@import '~bootstrap/scss/bootstrap';

html {
  background: #e6e9e9
}

#authenticated {
  // visibility: hidden;
  display: none;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

.box {
  align-items: center;
  border: 2px solid black;
  display: flex;
  height: 90px;
  justify-content: center;
}

.container {
  display: flex;
}

#update-game {
  background-color: #5DADE2;
}
