@import '~bootstrap/scss/bootstrap';

html {

}

#authenticated {
  // visibility: hidden;
  display: none;
  padding: 20px
}

body {
    background: #ECECEC;
    background-image: linear-gradient(to left, #F5F7FA, #B8C6DB);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #2d545e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;

}

.box {
  align-items: center;
  border: 2px solid black;
  display: flex;
  height: 90px;
  justify-content: center;
}

.container {
  display: flex;
  margin: 20px
}

.form {
  margin: 8px;
}
.button {
  margin: 8px;
}

#update-game {
  background-color: #5DADE2;
  color: #EE1D52
}
